body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 100vw;
  height: 100vh; */
}

.App {
  display: inline-flex;
  width: 1003px;
  height: 1299px;
  border: 1px solid black;
  margin: 10px;
  box-sizing: border-box;
}

.sidebar {
  position: relative;
  height: 100%;
  width: 25%;
  background-color: paleturquoise;
}

.body-content {
  height: 100%;
  width: 75%;
  background-color: lightsalmon;
}

.sb-links-form-visible {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 300px;
  /* height: 400px; */
  background-color: blue;
  gap: 30px;
  padding: 30px;
}

.sb-links-form-visible > form {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  /* gap: 30px; */
  /* flex-direction: column; */
}

.first-division {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.second-division {
  display: flex;
  justify-content: flex-end ;
}

.remove-btn {
  margin-top: 12px;
  height: 40px;
}

.hidden {
  display: none;
}

.close {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 50px;
  height: 32px;
}

.edit-overview-btn {
  position: absolute;
}

.skills-links-form-visible {
  top: 200px;
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 300px;
  /* height: 400px; */
  background-color: blue;
  gap: 30px;
  padding: 30px;
}

.edit-skill-btn {
  position: absolute;
  top: 100px;
}

.education-links-form-visible {
  top: 400px;
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 300px;
  /* height: 400px; */
  background-color: blue;
  gap: 30px;
  padding: 30px;
}

.edit-education-btn {
  position: absolute;
  top: 200px;
}

.name-form-visible {
  top: 100px;
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 300px;
  /* height: 400px; */
  background-color: blue;
  gap: 30px;
  padding: 30px;
}